header
	.width_container.clearfix
		ul.nav
			li О фонде
			li Электронные сервисы
			li Личный кабинет
			li Контакты
		.right_block
			.version
				i.icon-header_glass
				span Версия для слабовидящих
			.loupe_wrapper
				i.icon-header_loupe